[project]
name = {{github_repo_name}}
description = {{project_description}}
version = "1.0.0"
authors = [
    { name = {{name}}, email = {{email}} }
]
dependencies = [
    "numpy",
    "astropy",
    "matplotlib",
    "pandas"
]

[project.optional-dependencies]
dev = [
    "tox"
]