# {{project_name}}

A bare-bones Mkdocs file for `{{github_repo_name}}`. For full documentation visit [mkdocs.org](https://www.mkdocs.org).

Place images in docs/img and reference them as img/image_name.png. Don't include the docs folder!

## Commands

* `mkdocs new [dir-name]` - Create a new project.
* `mkdocs serve` - Start the live-reloading docs server.
* `mkdocs build` - Build the documentation site.
* `mkdocs -h` - Print help message and exit.

## Project layout

    mkdocs.yml    # The configuration file.
    docs/
        index.md  # The documentation homepage.
        ...       # Other markdown pages, images and other files.
